#countries-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 15px;
}

.country{
    border: 2px solid salmon;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}